<a href="https://colab.research.google.com/github/mmarin11/Colabfiles/blob/main/Practica_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Práctica 13:** Carga de Datos

In [1]:
import pandas as pd
import numpy as np
import re

df = pd.read_csv("/content/drive/MyDrive/ClassFiles/datos/miaad-nyc-r-s.csv", skipfooter=1, engine="python")

print(">> df.tail(3): (demuestra que la última línea NO se cargó)")
print(df.tail(3))
print("\n>> Dimensiones del dataframe (filas, columnas):")
print(df.shape)

>> df.tail(3): (demuestra que la última línea NO se cargó)
       Unnamed: 0  BOROUGH NEIGHBORHOOD  \
84545        8411        5      WOODROW
84546        8412        5      WOODROW
84547        8413        5      WOODROW

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4

       BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                ADDRESS  \
84545   7351   60                                  B2       49 PITNEY AVENUE
84546   7100   28                                  K6  2730 ARTHUR KILL ROAD
84547   7105  679                                  P9      155 CLAY PIT ROAD

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
84545  ...                 2                 0            2              4000
84546  ...                 0                 7            7            208033
84547  ...                 0                 1            1             10796

       GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE  \
84545               1496       1925                         1
84546              64117       2001                         4
84547               2400       2006                         4

       BUILDING CLASS AT TIME OF SALE  SALE PRICE            SALE DATE
84545                              B2      460000  2017-07-05 00:00:00
84546                              K6    11693337  2016-12-21 00:00:00
84547                              P9       69300  2016-10-27 00:00:00

[3 rows x 22 columns]

>> Dimensiones del dataframe (filas, columnas):
(84548, 22)

**Práctica 14**: Agregar una columna

In [2]:
print("\n>> Nombres de columnas (antes):")
print(list(df.columns))

# Asegurar que la primera columna se llame "INDEX MIIAD"
if df.columns[0] != "INDEX MIIAD":
    new_cols = list(df.columns)
    new_cols[0] = "INDEX MIIAD"
    df.columns = new_cols

print("\n>> Nombres de columnas (después de asegurar 'INDEX MIIAD' como primera):")
print(list(df.columns))

>> Nombres de columnas (antes):
['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE']

>> Nombres de columnas (después de asegurar 'INDEX MIIAD' como primera):
['INDEX MIIAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE']

**Práctica 15:** Normalización de los nombres de la columna.

In [3]:
df.columns = [re.sub(r"\s+", "_", c.strip().lower()) for c in df.columns]

print("\n>> Nombres de columnas normalizados (minúsculas y con guion_bajo):")
print(list(df.columns))

>> Nombres de columnas normalizados (minúsculas y con guion_bajo):
['index_miiad', 'borough', 'neighborhood', 'building_class_category', 'tax_class_at_present', 'block', 'lot', 'ease-ment', 'building_class_at_present', 'address', 'apartment_number', 'zip_code', 'residential_units', 'commercial_units', 'total_units', 'land_square_feet', 'gross_square_feet', 'year_built', 'tax_class_at_time_of_sale', 'building_class_at_time_of_sale', 'sale_price', 'sale_date']

**Práctica 16:** Errores en los Tipos de Datos

In [8]:


print("----------------------------------------")
print("Práctica 16: Tipos de Datos")
print("----------------------------------------")

# Se imprimen los tipos de datos originales de cada columna usando el atributo .dtypes.
print("Tipos de datos originales:")
print(df.dtypes)


df['sale_price'] = pd.to_numeric(df['sale_price'], errors='coerce')
df['land_square_feet'] = pd.to_numeric(df['land_square_feet'], errors='coerce')
df['gross_square_feet'] = pd.to_numeric(df['gross_square_feet'], errors='coerce')

# Se imprimen los tipos de datos nuevamente para confirmar que el cambio se realizó.
print("\nTipos de datos después de la corrección:")
print(df.dtypes)
print("\n")

----------------------------------------
Práctica 16: Tipos de Datos
----------------------------------------
Tipos de datos originales:
index_miiad                         int64
borough                             int64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                               int64
lot                                 int64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                            int64
residential_units                   int64
commercial_units                    int64
total_units                         int64
land_square_feet                  float64
gross_square_feet                 float64
year_built                          int64
tax_class_at_time_of_sale           int64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

Tipos de datos después de la corrección:
index_miiad                         int64
borough                             int64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                               int64
lot                                 int64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                            int64
residential_units                   int64
commercial_units                    int64
total_units                         int64
land_square_feet                  float64
gross_square_feet                 float64
year_built                          int64
tax_class_at_time_of_sale           int64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

**Práctica 17:** Genera el diccionario de datos del dataframe preprocesado. Imprime el contenido de dicho diccionario

In [9]:
print("----------------------------------------")
print("Práctica 17: Diccionario de Datos")
print("----------------------------------------")

# Se crea un diccionario de Python para almacenar la información del resumen.
# Las claves serán los nombres de las columnas del nuevo DataFrame de resumen.
data_dictionary_info = {
    # Se obtienen los nombres de las columnas del DataFrame principal.
    'Column Name': df.columns,
    # Se obtienen los tipos de datos y se convierten a string para el resumen.
    'Data Type': [str(dtype) for dtype in df.dtypes],
    # .count() cuenta los valores no nulos por columna.
    'Non-Null Count': df.count().values,
    # .isnull().sum() cuenta la cantidad de valores nulos por columna.
    'Null Count': df.isnull().sum().values
}

# Se crea un nuevo DataFrame a partir del diccionario.
data_dictionary_df = pd.DataFrame(data_dictionary_info)

# Se imprime el DataFrame que funciona como nuestro diccionario de datos.
print("Diccionario de datos del dataframe preprocesado:")
print(data_dictionary_df)

----------------------------------------
Práctica 17: Diccionario de Datos
----------------------------------------
Diccionario de datos del dataframe preprocesado:
                       Column Name Data Type  Non-Null Count  Null Count
0                      index_miiad     int64           84548           0
1                          borough     int64           84548           0
2                     neighborhood    object           84548           0
3          building_class_category    object           84548           0
4             tax_class_at_present    object           84548           0
5                            block     int64           84548           0
6                              lot     int64           84548           0
7                        ease-ment    object           84548           0
8        building_class_at_present    object           84548           0
9                          address    object           84548           0
10                apartment_number    object           84548           0
11                        zip_code     int64           84548           0
12               residential_units     int64           84548           0
13                commercial_units     int64           84548           0
14                     total_units     int64           84548           0
15                land_square_feet   float64           58296       26252
16               gross_square_feet   float64           56936       27612
17                      year_built     int64           84548           0
18       tax_class_at_time_of_sale     int64           84548           0
19  building_class_at_time_of_sale    object           84548           0
20                      sale_price   float64           69987       14561
21                       sale_date    object           84548           0